<!DOCTYPE html>
<html lang="en">
<head>
    <!--se non funziona metti gli script della face api qui-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>the 1984</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

<nav>
    <a href="/">home</a>
    <a href="/registration">registration</a>
    <a href="/recognitions">recognitions</a>
    <a href="/registrationHandler">customAPI registration handler</a>
</nav>

{{{body}}}

</body>
</html>