<h1>Face Detection APP V 1.0.0</h1>

<h3>Questa applicazione aiuta a tenere traccia di chi è in possesso della certificazione verde oppure no. 
    è un ottimo modo per eliminare le noise file che si formano all'esterno dei locali, dovute al controllo del greepass
    <br>
    Andando nella sezione "registration" potrai inserire i tuoi dati personali.
    <br>
    successivamente nella senzione "recognition" 
    potrai vedere se effettivamente il sitema ti ha accetto e quindi se sarà in grado di riconoscerti.
    <br>
    il riconoscimento non è perfetto. più la qualità della tua fotocamera è buona, più il riconoscimento sarà preciso
    <br>
    </h3>

<h1>IL FORMATO DELLE IMMAGINI DEL VISO DEVE ESSERE NECESSARIAMENTE JPG</h1>
<h3>sto lavorando per integrare un convertitore integrato nell'app. fino ad allora usa questo sito per convertire le tue immagini. <a href="https://convertio.co/it/jpg-converter/">link convertire</a></h3>

<h2>si consiglia l'utilizzo di questa app da pc (per il momento)</h2>

<!--se sei un mio amico sviluppatore e vedi questo commento, per favore non rompermi il sito grazie-->