
<br>
<div id="wrapperHome"> 
<h1>Face Detection APP</h1>
<h2># Per Utenti</h2>
<br>
<p>

Clicca sul link registration per registrarti all’interno dell’applicazione.
<br>
Se sei da smartphone clicca sulle tre linee in alto a destra per far scendere il menu a tendina
<br>
<br>
Qui puoi troverai una serie di campi da compilare. inserisci i tuoi dati all’interno di questi campi. I dai che inserirai saranno visibili soltanto da me. 
<br>
Faccia1 e Faccia2 sono i due campi che permetto al mio sistema di riconoscerti. Carica quindi una foto in formato JPG ( prova anche con altri formati, ma potrebbe un funzionare per questa prima release ) oppure se ti stai registrando da uno smartphone puoi tranquillamente scattarti una foto ( ti compariranno le opzioni disponibili quando clicchi su choose file).
<br>
<br>
 Una volta compilati tutti i campi, se l’operazione è andata a buon fine, verrai reindirizzato alla sezione del riconoscimento.
 se ti trovi su smartphone ti conviene attivare la rotazione scheermo e gi rare lo schermo per vederti meglio.
<br>
Il sistema utilizzerà le foto da te caricare per riconoscerti :-)
<br>
<br>
Grazie per il tuo supporto e I tuoi dati 
<br>
Distinti saluti 
<br>
Facebook.inc 😂
</p>
</div> 

<!--se sei un mio amico sviluppatore e vedi questo commento, per favore non rompermi il sito grazie-->