


<div id="adminPage">
<a href="/dossier">dossier</a>
<br>
<a href="/registrationHandler">registrationAPI</a>
<br>
<a href="/dossierAPI">DossierAPI</a>

</div>

<style>

body{
    background-image: url(https://developers.giphy.com/branch/master/static/api-512d36c09662682717108a38bbb5c57d.gif);
    background-size: cover;
background-position: center center;
}

</style>