<br>
<div id="wrapperNews"> 
<h1>News</h1>


<h2>app version : 1.2.0.</h2>

<p>
<h3>19/03/2022 14:05</h3>

dettagli aggiornamento: 
<ul>
<li>  Miglioramento graf per utenti</li>
<li> Schedario ( dossier completo con foto e informazioni di chi si è registrato [visibile solo per me ])</li>
</ul>

bugs: 
<ul>
<li> nomi di persona rotti. </li>
</ul>

<br>
prossimi aggiornamenti: 
<ul>
<li> Sezione text area con dati aggiuntiv</li>
<li> Controllo greenpass</li>
</ul>
</p>
<br>
<hr>
<br>

<h2>app version : 1.1.1.</h2>

<p>
<h3>18/03/2022 11:19</h3>

dettagli aggiornamento: 
<ul>
<li> riconoscimento da SmartPhone</li>
<li> riconoscimento  funzionante.</li>
</ul>

bugs: 
<ul>
<li> nomi di persona rotti. </li>
</ul>

<br>
prossimi aggiornamenti: 
<ul>
<li> Sezione text area con dati aggiuntivI</li>
<li> Schedario ( dossier completo con foto e informazioni di chi si è registrato [visibile solo per me ])</li>
<li>  Miglioramento grafico</li>
<li> Controllo greenpass</li>
</ul>
</p>

<br>
<hr>
<br>


<h2>app version : 1.0.0.</h2>

<p>
<h3>18/03/2022 9:54</h3>

bugs: 
<ul>
<li> nomi di persona rotti. </li>
<li> riconoscimento non funzionante.</li>
</ul>

<br>
prossimi aggiornamenti: 
<ul>
<li> riconoscimento da SmartPhone</li>
<li> Sezione text area con dati aggiuntivI</li>
<li> Schedario ( dossier completo con foto e informazioni di chi si è registrato [visibile solo per me ])</li>
<li>  Miglioramento grafico</li>
<li> Controllo greenpass</li>
</ul>
</p>
</div>