
<br>
<h1>Recognitions Page</h1>
<br />
  <script defer src="./scripts/face-api.min.js"></script>
  <script defer src="./scripts/script.js"></script>
<video id="video" width="720" height="560" muted="true"></video>



