
<br>
<div id="containerForm">

<h2>Sto lavorando per risolvere i problemi con la validazione del Form nei campi nome e cognome
    <br>
    per cortesia non inserire spazi, caratteri speciali (es. *{[è#.: etc) e numeri. 
    <br>
    inserisci solo lettere maiuscole o minuscole.
</h2>

<form  onsubmit="alertFunction()" method="POST" action="/registration" enctype="multipart/form-data"> {{! enctype="multipart/form-data" is used for the file upload in a form}}
    <label>Nome</label>
    <br>
    <input type="text" name="name" id="idName" required="true"/> <!--this regex exclude special caracter spaces and numbers-->
    <br>
    <label>Cognome</label>
    <br>
    <input type="text" name="surname" id="idSurname" required="true" />
    <br>
    <label>Email</label>
    <br>
    <input type="email" name="email" id="idEmail" required="true"/>
    <br>
    <label>Età</label>
    <br>
    <input type="number" name="age" id="idAge"required="true"/>
    <br>
    <br>
    <label>Sesso</label>
    <br>
    <label>Femmina </label>
    <input type="radio" name="gender" id="idFemale" value="female" required="true"/>
    <br>
    <label>Maschio </label>
    <input type="radio" name="gender" id="idMale" value="male"required="true"/>
    <br>
    <br>
    <label>GreenPass</label>
    <br>
    <input type="file" name="greenpass" id="idPass" required="true"/>
    <br>
    <br>
    <label>Faccia1</label>
    <br>
    <input type="file" name="face1" id="idFace"required="true"/>
    <br>
    <br>
    <label>Faccia2</label>
    <br>
    <input type="file" name="face2" id="idFace" required="true"/>
    <br>
    <br>
    <input type="submit" onclick="btDisable()"  value="Invia"/>
</form>
</div>


<script>
    function btDisable(){
        this.disable
    }

  function alertFunction(){
alert('Registrazione effettuata con successo. Clicca OK per essere reindirizzato. Non regitrarti nuovamnete!')
    }
</script>



{{!
https://usefulangle.com/post/352/javascript-capture-image-from-camera

retriving the image directly from the camera

<button id="start-camera">Start Camera</button>
<video id="video" width="320" height="240" autoplay></video>
<button id="click-photo">Click Photo</button>
<canvas id="canvas" width="320" height="240"></canvas>

let camera_button = document.querySelector("#start-camera");
let video = document.querySelector("#video");
let click_button = document.querySelector("#click-photo");
let canvas = document.querySelector("#canvas");



camera_button.addEventListener('click', async function() {
   	let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
	video.srcObject = stream;
});

click_button.addEventListener('click', function() {
   	canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
   	let image_data_url = canvas.toDataURL('image/jpeg');

   	// data url of the image
   	console.log(image_data_url);
});

}}
