*{
  font-family: "Source Code Pro","monaco","PT Mono","Courier",monospace;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /*display: flex;*/
    justify-content: center;
    background-color: black;
    color: white;
    
  }

  canvas, video {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #imagesGigaWrapper  img {
    width: 15%;
  }

  .imageWrapper {

    border: 2px solid white;
    margin: 10%;
  }

  #containerForm{
    text-align: center;
  }

  #wrapperHome,#wrapperNews,#adminPage{
    margin-left: 20%;
    margin-right: 20%;
  }

  .theTeam,#adminPage{
    text-align: center;
  }
  #adminPage{
  margin-top: 20%;
  }

  #GlitchFace,
  .FaceIdImages{
    display: block;
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
    width:65%;
  }

  @media (max-width: 1000px){
  #GlitchFace,
  .FaceIdImages{
      width:100%;
    } 
  }
  
  hr{
   border-color: white;
  }

  .FaceIdImages{
    position: absolute;
  }